body {
  background-image: url("green3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  /*   width: 100vw;
  height: 100vh; */
  overflow-y: hidden;
  overflow-x: hidden;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(10, minmax(200px, 300px));
  grid-template-rows: repeat(20, minmax(50px, 50px));

  grid-template-areas:
    "a . . . ."
    ". i i i i"
    ". . b . d"
    ". . b . d"
    ". . b . d"
    ". . b . d"
    ". . b . d";
}

#overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  grid-column: 1 / span 4;
  grid-row: 1 / span 5;
  z-index: 1;
}

#instructions {
  background-color: white;
  grid-area: i;
}

#roomNav {
  border-radius: 3px;
  grid-area: a;
  background-color: white;
  z-index: 2;
  text-align: center;
}

#inputForm {
  width: auto;
  grid-area: b;
  background-color: white;
  z-index: 2;
}

#logoBox {
  width: 5vw;
  height: 5vw;
}

#word-list-container {
  grid-area: d;
  background-color: white;
  z-index: 2;
}

#mainLogo {
  width: auto;
  height: 7vh;
}

.gitHub {
  height: 5vh;
  width: auto;
}

.footer-link {
  grid-area: g;
}
