@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --nav-height: 30px;
  --nav-container-width-sm: 150px;
  --nav-container-width-md: 500px;
  --padding-sm: 10px;
}

body {
  background-color: #399e3c56;
  background-size: cover;

  /*   background-image: url("/logos/green3.jpg"); */
  /*   background-image: url(/logos/green3.jpg);
 */
  background-image: url(/logos/green3.jpg);
  font-family: "KoHo", sans-serif !important;
  min-height: 100vh;
  background-repeat: no-repeat;
  padding-bottom: 50px;

  overflow-y: scroll;
  overflow-x: scroll;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
}

/* NAV */

#roomNav {
  padding: 3px;
  position: relative;
  height: var(--nav-height);
  background-color: transparent;
  height: 75px;
  width: 100vw;
  border-radius: 2px;
  z-index: 100 !important;
  font-family: "Bebas Neue", cursive !important;
}

.photoURL {
  height: 44px;
  width: auto;

  clip-path: circle(40%);
}

#roomName {
  position: absolute;
  width: 100%;
  top: 77px;
  font-size: 10px;
  border: 1px solid white;
  text-align: center;
  /* border-radius: 5px; */
  font-family: "Montserrat", sans-serif;
  color: white;
  border-top: 1px solid white;
}

#nav-links {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: var(--nav-container-width-md);
  border: 1px solid black;
}

.switch {
  display: flex;
}

#logoAndNameContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 5px;
  border: 2px solid white;
}

#logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: relative;
  /* position: relative; */
  max-width: var(--nav-container-width-sm);
  /* width: 173px; */
  /* border-right: 1px solid green; */
  background-color: #0000008c;
  /* border: 2px solid #399e3c9a; */
}

#greetingBox {
  border-top: 1px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: #0000008c;
}

#mainLogo {
  position: relative;
  border-radius: 10px;
  width: 70px;
}

#logo-text {
  width: 108px;
  margin-top: 5px;
}

#user-container {
  text-align: center;
  display: flex;
  background-color: #399e3c9a !important;
  position: relative;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  right: 0;
}

#user {
  color: white;
}

#user a {
  color: white;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

#userName {
  position: absolute;
  height: 100px;
  display: flex;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: center;
  flex-direction: column;
  right: 15px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  background-color: #0000008c;

  border: 2px solid white;
  border-radius: 5px;
  max-width: var(--nav-container-width-sm);
  align-items: center;
  padding: 10px;
}

#userNameRelative {
  position: relative;
  width: max-content;
}

/* INSTRUCTION CONTAINER */
#instruction-container {
  background-color: white;
  top: 140px;
  border: 2px solid #399e3c56;
  left: 30px;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  font-size: 20px;
  position: relative;
  height: 300px;
  width: 30%;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: var(--padding-sm);
}

#instructions {
  position: absolute;
  width: 90%;
}

#instruction-text {
  background-color: #ffffffb8;
  /* background-color: transparent; */
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 13px;
  text-align: center;
  /* letter-spacing: 2px; */
  height: 94px;
  font-weight: 300;
  z-index: 100;
  border-radius: 5px;
  color: black;
  margin: auto;
  position: relative;
  top: 10px;
  font-weight: 600;
  width: 70vw;
}

/* #instruction-text { */
/*   background-color: #ffffffb8;
 */
/*   background-color: transparent;
  padding: var(--padding-sm);
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 13px;
  font-weight: 300;
  z-index: 100;
  border-radius: 5px;
  color: black;
  margin: auto;
  position: relative;
  top: 10px;
  font-weight: 600;
  width: 70vw;
} */

#instruction-one {
  display: inline;
}

#instruction-two {
  display: inline;
}

#instruction-three {
  display: inline-block;
  margin-top: 10px;
}

#instruction-four {
  display: inline-block;
}

#timer-container {
  height: 98px;
  position: absolute;
  /* width: 100vw; */
  width: 96px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: 10px;
  top: 10px;
  background-color: #0000008c;
  border-radius: 5px;
  border: 2px solid white;
}

#timer {
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 18px;
  right: 2px;
  font-weight: 600;
  z-index: 900;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
}

/* LIST CONTAINER */
#main-content {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

#list-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 90vw;
  flex-direction: row-reverse;
  height: fit-content;
  padding-top: 45px;
  margin: auto;
}

/* Word Section */
#word-list-container {
  border: 2px solid #399e3c56;
  text-align: center;
  background: white;
  height: 620px;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

#word-list {
  padding: 10px;
  width: 200px;
}

#word-list li {
  letter-spacing: 2px;
  line-height: 21px;
  font-size: 16px !important;
}

/* Input Section */
#inputForm {
  height: 620px;
  border: 2px solid #399e3c56;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
}

.input-cell {
  height: 22px !important;
  width: 97% !important;
  font-size: 12px !important;
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px !important;
  font-family: "Montserrat", sans-serif !important;

  margin: unset !important;
}

#input-list {
  padding: 10px;
  width: 200px;
}

.input-cell::placeholder {
  font-size: 10px;
}

.input-cell text {
  color: green;
}

/* WARNING BOX */
#warningBox {
  color: white;
  background-color: black;
  bottom: 0;
  width: 200px;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  top: 60vh;

  z-index: 200;
}

/* Continue Button */
#button-container {
  position: relative;
  left: 72px;
  width: 200px;

  bottom: -12px;
}

.next {
  background-color: #0000008c;
  border: 3px solid white !important;
  color: white;
  border-radius: 3px;
  width: 100px !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.next:hover {
  color: black !important;
  background-color: white;
}

/* Bottom Logo Section */
#bottom-logo {
  width: 200px;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
}

#bottom-logo-img {
  width: 200px;
}

/* Footer */

.footer-link {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 3px;

  color: rgba(0, 0, 0, 0.616);
  font-size: 10px;
  background-color: white;
}

.gitHub {
  width: 10px;
  height: 10px;
}

/* DYNAMIC CLASSES */
.selected-text {
  font-size: 16px;
  background-color: #399e3c9a;
  border-radius: 5px;
}

@media screen and (min-width: 100px) and (max-width: 812px) {
  #roomNav {
    width: unset;
    justify-content: unset;
  }

  #nav-links {
    display: none;
  }

  .timer {
    top: -4px;
  }

  #main-content {
    display: flex;
    flex-direction: column;
  }
  #mainLogo {
    position: relative;
    border-radius: 10px;
  }
  #greetingBox {
    display: none;
  }

  #input-list {
    width: 100%;
  }

  #inputForm {
    /* position: relative; */
    position: absolute;
    top: 25px;
  }
  .next {
    color: white !important;
    position: absolute;
  }

  #instruction-text {
    background-color: #ffffffb8;
    /* background-color: transparent; */
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    font-size: 13px;
    text-align: center;
    /* letter-spacing: 2px; */
    height: 120px;
    font-weight: 300;
    z-index: 100;
    border-radius: 5px;
    color: black;
    /* margin: auto; */
    /* top: 10px; */
    font-weight: 600;
    width: 70vw;
    margin: auto;
    right: 3px;
    top: 3px;
  }

  #logoAndNameContainer {
    position: absolute;
    left: 1px;
    top: 3px;
    border-radius: 5px;
    /* border: 2px solid white; */
    width: 50px;
    height: 50px;
  }

  #roomName {
    display: none;
  }

  #list-container {
    width: 90vw;
    margin: auto;
    top: 35px;
    right: unset;
  }

  #timer {
    width: 45px;
    text-align: center;
    box-shadow: unset !important;
    font-size: 16px;
    /* height: 43px; */
    height: 35px;
    top: -4px;
    left: -4px;
    line-height: 1;
    position: absolute;
  }

  #timer-container {
    margin-top: 29px;
    width: 54px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    box-shadow: unset;
    right: 2px;
  }
  #logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    /* position: relative; */
    max-width: var(--nav-container-width-sm);
    /* width: 173px; */
    /* border-right: 1px solid green; */
    /* background-color: #0000008c; */
    /* border: 2px solid #399e3c9a; */
  }

  #user-container {
    display: none;
  }

  #inputForm {
    width: 150px;
  }
  #word-list {
    width: unset;
  }
  #word-list li {
    font-size: 10px;
  }
  #word-list-container {
    width: 150px;
  }
  #bottom-logo {
    width: 100px;
  }

  #instruction-text {
    font-size: 12px;
  }

  #button-container {
    text-align: center;
    left: 29px;
  }
}

/* Bigger Screens */
@media screen and (min-width: 1400px) and (max-width: 2000px) {
  #word-list {
    width: 400px;
  }

  #input-list {
    padding: 10px;
    width: 400px;
  }

  #inputForm {
    width: 400px;
  }

  #button-container {
    position: relative;
    /* left: 47px; */
    left: unset;
    text-align: center;
    width: 400px;
    bottom: -12px;
  }
}
