/* FINAL PAGE SMALLER SCREEN */
@media screen and (min-width: 1000px) and (max-width: 1090px) {
  #instruction-text {
    font-size: 10px;
  }

  #roomNav {
    height: 150px;
  }
}

@media screen and (min-width: 300px) and (max-width: 999px) {
  #instruction-text {
    font-size: 8px;
  }

  #main-container {
    display: flex;
    flex-direction: column !important;
  }

  #main-container #tables {
    height: fit-content;
    width: 91vw !important;
    padding: 10px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    z-index: 100;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
      4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
    padding: 10px;
    display: flex;
    margin: auto;
    top: 153px;
    position: relative;
  }

  #tryBox #textArea {
    /* width: 35vw; */
    /* height: 200px; */
    /* position: sticky !important; */
    /* margin-right: 10px; */
    width: 100vw;
    text-align: center;
    position: relative;
    top: 190px;
  }
  #tryBox #pdfButtons {
    position: absolute;
    width: 90vw;
    text-align: center;
    bottom: -371px;
    z-index: 1000;
  }

  #bottom-logo-img {
    width: 80px;
  }
  /*   #tryBox textarea {
    width: 90vw;
    height: 200px;
    margin-right: 10px;
    margin: auto;
    position: relative;
    top: 163px;
  } */

  #roomNav {
    height: 170px;
  }
}

/* BIGGER SCREENS */

@media screen and (min-width: 1400px) and (max-width: 2000px) {
  #tables {
    height: 80vh;
  }
}
