@media screen and (min-width: 100px) and (max-width: 812px) {
  body {
    background-repeat: no-repeat;
    overflow-x: hidden !important;
  }

  #instruction-text {
    top: 3px;
  }
  #nav-links {
    display: none;
  }

  #papers {
    right: 0;
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus {
    font-size: 10px !important;
  }

  #inputForm {
    right: 5px;
    width: 155px;
    display: block;
    padding: 10px;
    height: 420px;
    top: 20px;
    overflow-y: scroll;
    left: 55%;
  }

  .input-cell {
    width: 100%;
    font-size: 16px !important;
  }

  .input-cell::placeholder {
    font-size: 8px;
  }

  #input-list {
    width: 100%;
    top: 15px;
  }

  #word-list-container {
    left: 5%;
    overflow-y: scroll;
    width: 170px;
    height: 420px;
    top: 20px;
  }

  #user-info {
    width: auto;
    padding: 5px;
    right: 0px;
    font-size: 20px;
    height: 5.3vh !important;
    margin-right: 3px;
    top: 5px;
    line-height: 2.5;
  }
  #user {
    margin-top: -5px !important;
  }

  .photoURL {
    height: 20px;
    width: 20px;
    top: 3px;
  }

  #createNewRoom {
    width: 150px !important;
    right: 3px;
  }

  #logoBox {
    width: 200px;
    position: fixed;
    right: 0;
  }

  .gitHub {
    height: 10px;
    width: 10px;
  }

  .footer-link {
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
  }

  #friend-title {
    display: block;
    text-align: center;
  }

  #friendsOnline {
    text-align: center;
  }

  .friendlistLogo {
    width: 0px;
    height: 0px;
  }

  #friend-title h4 {
    font-size: 12px;
  }

  .profile-holder {
    font-size: 10px;
  }

  .profilepic {
    top: 0px;
    width: 15px;
    height: 15px;
  }

  #play-box {
    width: 80vw;
    margin: auto;
    left: 0;
    min-height: 35vh;
    max-height: 35vh;
  }

  #rooms h5 {
    font-size: 12px;
  }

  .active-button {
    height: 10px;
    width: 10px;
    left: 0px;
  }

  #instructions {
    left: 0px;
    width: 90%;
    margin: auto;
    top: 15px;
  }

  #word-list li {
    font-size: 10px;
  }

  .connected {
    bottom: 0px;
    left: 0px;
  }

  #mainLogo {
    width: unset;

    height: 100%;
    background-size: contain;
  }

  .user-box {
    width: 100px !important;
    top: 150px;
    display: none;
  }

  #button-container {
    /* height: 30px; */
    display: flex;
    left: 62%;
    top: 35px;
    width: 100vw;
    text-align: center;
  }

  #inputForm #scroll-down {
    position: absolute;
    right: 6px;
    z-index: 40;
    line-height: 2;
    width: 20px;
    font-size: 6px;
    height: 20px;
    left: 10px;
    top: 15px;
  }

  .next {
    width: 100px;
    z-index: 500;
    text-align: center;
    height: 25px !important;
    font-size: 10px !important;
    background-color: teal;
    border: 2px solid white !important;
    line-height: 2 !important;
    font-family: "Montserrat", sans-serif;
  }
}

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  #mainLogo {
    height: 11vh;
  }

  /* Safari only override */
  ::i-block-chrome,
  #mainLogo {
    height: 11vh;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
