@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
}

/* BEAUTIFUL COLOR - #80a9a9 */

body {
  background-color: #399e3c56;
  background-size: cover;

  /*   background-image: url("/logos/green3.jpg"); */
  background-image: url(/logos/halfscreen.png);
  font-family: "KoHo", sans-serif !important;
  min-height: 100vh;
  overflow-x: hidden !important;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
#timer {
  top: px;
  width: 100px;
  position: relative;
  margin: auto;
  background-color: white !important;
  border: 2px solid #399e3c56;
  text-align: center;

  background-color: rgb(240, 240, 240);
  margin-top: 20px;
  font-family: "Bebas Neue", cursive !important;
  font-size: 24px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  right: 25px;
  /*   bottom: 40px;
   */ /*   outline: solid 20px rgb(155, 155, 155);
   */
  z-index: 50;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: 10px;
}

.collection-item {
  padding-left: 20px !important;
}

#inputForm {
  text-align: center;
  grid-column: 2 !important;
  border: none !important;
  overflow-y: scroll;
  height: 93vh;
  width: 200px;
  overflow-x: hidden;
  background-color: white;
  padding: 20px;
  /* font-family: "Bebas Neue", cursive !important; */
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  position: relative;
  z-index: 100;
  display: flex;
  margin-right: 150px;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#warningBox {
  border: 2px solid red;
  display: none;
  /* height: 50px; */
  text-align: center;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  padding: 3px;
  z-index: 2000 !important;
}
#input-list {
  grid-column: 3 !important;
  height: 473px;
  position: relative;

  width: 200px;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
}

.selected-text {
  font-size: 16px;
  background-color: #399e3c9a;
  border-radius: 5px;
}

.switch {
  position: relative;
}
.switch label {
  font-size: 15px;
  color: white;
  z-index: 2;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}

.solo {
  color: #000000;
}

.lever {
  background-color: #000000 !important;
}

.collaborative {
  color: #399e3c9a !important;
}

nav {
  z-index: 100 !important;
}
#mainLogo {
  z-index: 100 !important;
  bottom: 8px;
  top: -5px;
  max-height: 7vh;
}

#user {
  margin-top: -20px;
}

#user-info {
  /* background-color: lightpink; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 20;
  width: fit-content;
  /* padding-right: 10px; */
  padding: 10px;
  /* padding-left: 10px; */
  text-align: center !important;
  height: 39px !important;
  top: 7px;
  font-size: 18px;
  background-color: #399e3c9a !important;
  height: 60px;
  right: 8px;
  position: relative;
  color: black;
  /* clip-path: ellipse(130px 140px at 10% 20%); */
}

#nav-links {
  top: 0px;
  font-size: 19px;
  margin-top: -2px;
  left: 67%;
  cursor: pointer;
}

#roomNav {
  background-color: white;
  color: black;
  border-radius: 5px;
  position: relative;
  font-family: "Bebas Neue", cursive !important;
  z-index: 100 !important;
  font-size: 20px;
  width: 34vw;
  height: 53px;
  justify-content: space-between;
  /* margin: auto; */
  display: flex !important;
}

.photoURL {
  top: 10px;
  height: 36px;
  width: auto;
  margin-left: 12px;
  position: relative;
  clip-path: circle(40%);
}

#userNameContainer {
  position: absolute;
  right: 0;
}

/* FRIEND LIST */
.user-box {
  display: none !important;
  background-color: rgb(240, 240, 240);
  margin-top: 20px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif !important;
  text-align: left;
  position: fixed;
  max-height: 80vh;
  top: 62px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  right: 25px;
  /* bottom: 40px; */
  /* outline: solid 20px rgb(155, 155, 155); */
  z-index: 510;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: 10px;
}

.redBtn {
  width: 11px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.greenBtn {
  width: 11px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

#word {
  height: 20px;
  position: relative;
  left: 20px;
}

#into {
  height: 20px;
  position: relative;
  left: 270px;
}

#idea {
  height: 20px;
  position: relative;
  left: 540px;
}

.yellowBtn {
  width: 11px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

#user-list {
  border: 1px solid #399e3c9a;
  border-radius: 3px;
  max-height: 80vh;
  padding: 5px;
}

#user-list li {
  line-height: 1;
}

#friend-title {
  text-align: center;
}

#friend-title h4 {
  text-align: center;
  /* display: flex; */
  border: 1px solid #399e3c9a;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif !important;
}

.friendlistlogo {
  height: 40px;
  position: relative;
  margin-right: 10px;
  top: 7px;
}
.active-button {
  width: 15px;
  bottom: 2px;
  height: 15px;
  position: relative;
  left: 5px;
}

.connected {
  font-size: 9px;
  color: #399e3c9a;
  position: relative;
  left: 5px;
  bottom: 7px;
}
.profile-holder {
  margin-bottom: 10px;
  position: relative;
}

.profilepic {
  top: 8px;
  width: auto;
  margin-right: 8px;
  height: 26px;
  position: relative;
}

/* PLAY BOX */

.input-cell {
  height: 15px !important;
  width: 97% !important;
  font-size: 12px !important;
  text-align: center;
  letter-spacing: 2px;
  font-size: 17px !important;
  font-family: "Montserrat", sans-serif !important;
}

.input-cell::placeholder {
  font-size: 10px;
}

.input-cell text {
  color: green;
}

.collection-item {
  height: 30px;
}

#play-box {
  height: 70vh;
  width: 20vw;
  height: fit-content;
  background-color: white;
  font-family: "Bebas Neue", cursive !important;
  left: 600px;
  top: 100px;
  display: inline-block;
  position: relative;
  z-index: 100;
  text-align: left;
  background: white;
  max-height: 90vh;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.collection {
  border: none !important;
  position: relative;
  top: 12px;
  margin-bottom: 70px !important;
}

.collection .with-header {
  height: 15px !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  position: relative;
  border: none !important;
  top: 10px;
}

#space {
  height: 200px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

#logoBox {
  position: fixed;
  left: 0px;
  display: grid;

  bottom: 0;
  right: 0;
  width: 200px;
}

/* Instructions */

#instructions {
  background-color: rgb(240, 240, 240);
  left: 25px;
  width: 30vw;
  /* font-family: "Bebas Neue", cursive !important; */
  font-family: "Montserrat", sans-serif;
  display: flex;
  text-align: left;
  position: fixed;
  top: 89px;
  font-size: 12px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* bottom: 40px; */
  /* outline: solid 20px rgb(155, 155, 155); */
  z-index: 500;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: 10px;
}

#instruction-text {
  width: 95%;
  position: relative;
  /*   letter-spacing: 2px;
 */
  top: 2px;
}

/* Word Box */

#word-list-container {
  text-align: center;
  grid-column: 2 !important;
  border: none !important;
  width: 200px;
  height: 93vh;
  background-color: white;
  /* font-family: "Bebas Neue", cursive !important; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
}

#word-list-container2 {
  text-align: center;
  grid-column: 2 !important;
  border: none !important;
  width: 200px;
  background-color: white;
  font-family: "Bebas Neue", cursive !important;
  left: 30%;
  min-height: 50vh;
  position: absolute;
  z-index: 100;
  padding: 20px;
  flex-wrap: wrap;
  top: 100px;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
}

#word-list-container3 {
  text-align: center;
  grid-column: 2 !important;
  border: none !important;
  width: 200px;
  min-height: 50vh;
  background-color: white;
  font-family: "Bebas Neue", cursive !important;
  left: 45%;
  position: absolute;
  z-index: 100;
  padding: 20px;
  flex-wrap: wrap;
  top: 100px;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
}

#word-list {
  position: relative;
}

#word-list li {
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 16px !important;
}

#word-list2 {
  position: relative;
  top: 18%;
}

#word-list2 li {
  letter-spacing: 2px;
  line-height: 24px;
}

#word-list3 {
  position: relative;
  top: 18%;
}

#word-list3 li {
  letter-spacing: 2px;
  line-height: 24px;
}

#papers {
  position: relative;
  left: 30%;
  display: flex;
  bottom: 27px;
  height: 90vh;
  justify-content: space-around;
  /* right: 130px; */
  /* padding-bottom: 100px !important; */
}

/* Paper Design */

.hole-punch {
  width: 15px;
  height: 15px;
}

#top-circle {
  border-bottom: 1px solid red;
}

#holes {
  height: 310px;
  position: relative;
  bottom: 180px;
  border-right: 1px solid red;
  display: none !important;
  flex-direction: column;
  justify-content: space-between;
}

.gitHub {
  width: 20px;
  height: 20px;
  position: relative;
}

.footer-text {
  position: relative;
}

#friendsOnline {
  display: flex;
  font-size: 10px;
  font-family: "Montserrat", sans-serif !important;
}

#friendsOnline h5 {
  font-size: 10px;
  font-family: "Montserrat", sans-serif !important;
}

#connectedMockPic {
  top: 17px;
  position: relative;
}

.footer-link {
  position: fixed;
  bottom: 0;
  right: 0px;
  border-radius: 3px;

  padding: 3px;
  color: rgba(0, 0, 0, 0.616);
  background-color: white;
}

.nav-link {
  margin-right: 15px;
}

#inputForm::-webkit-scrollbar {
  width: 5px;
  margin-top: 10px;
}

/* Track */
#inputForm::-webkit-scrollbar-track {
  height: 80vh;
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 3px transparent;
}

/* Handle */
#inputForm::-webkit-scrollbar-thumb {
  background: #399e3c9a;
  border-radius: 10px;
  border: solid 3px transparent;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#inputForm::-webkit-scrollbar-thumb:hover {
  background: #399e3cc0;
}

#inputForm #scroll-down {
  position: absolute;
  right: 6px;
  z-index: 40;
  line-height: 2;
  width: 30px;
  background-color: #399e3c9a !important;

  font-size: 10px;
  height: 30px;
}
#sort {
  color: black;
  font-size: 24px;
}

#scroll-picture {
  width: 10px;
}
#word-list-and-button-container {
  display: flex;
  flex-direction: column;
}

#button-container {
  width: 50vw;
  height: 30px;
  position: relative;
  margin: auto;
  top: 71px;
  text-align: center;
  left: 0;
}

.next {
  width: 172px;
  text-align: center;
  height: 30px !important;
  font-size: 12px !important;
  border: 3px solid #43c548 !important;
  line-height: 2 !important;
  font-family: "Montserrat", sans-serif;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.938) !important;
  border-radius: 10px !important;
}
.next:hover {
  background-color: #399e3c9a !important;
  color: white !important;
}

#white-overlay {
  background-color: violet;
  width: 500px;
  height: 500px;
  z-index: 1;
  position: fixed;
}
