@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");

/* Index Page */

#indexBody {
  background-image: url("/logos/green3.jpg") !important;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: black;
}

#firebaseui-auth-container {
  top: 70px !important;
  position: relative;
}

#sign-inForm {
  padding: 15px;
  margin: auto;
  /* margin-top: 30%; */
  width: 340px;
  height: 300px;
  /* border: 5px solid black; */
  background-color: white;
  font-size: 20px;
  /* box-shadow: 5px 5px 0px 0px #000000; */
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999;
  border-radius: 3px;
  text-align: center;
  z-index: 3;
  right: 10px;
  margin: auto;
  /* top: 400px; */
  margin-top: 245px;
  /* position: relative; */
  /* top: 26%; */
}

#mobile-logo {
  display: none;
}

#firebaseui-auth-container
  > div
  > div.firebaseui-card-content
  > form
  > ul
  > li:nth-child(2)
  > button
  > span.firebaseui-idp-icon-wrapper
  > img {
}

.firebaseui-idp-text {
  color: white;
}

.firebaseui-idp-text-long {
  color: white;
}

/* GOOGLE BTN */
#firebaseui-auth-container
  > div
  > div.firebaseui-card-content
  > form
  > ul
  > li:nth-child(1)
  > button {
  background-color: black !important;
  color: white !important;
  border-radius: 10px;
  border: 2px solid white;
  bottom: 65px;
}
#firebaseui-auth-container
  > div
  > div.firebaseui-card-content
  > form
  > ul
  > li:nth-child(1)
  > button:hover {
  background-color: #1c352c !important;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

#construction {
  background-color: white;
  z-index: 1000;
}

/* EMAIL BTN */
#firebaseui-auth-container
  > div
  > div.firebaseui-card-content
  > form
  > ul
  > li:nth-child(2)
  > button {
  background-color: black !important;
  color: white !important;
  border-radius: 10px;
  border: 2px solid white;
  bottom: 62px;
}

.firebaseui-container.mdl-card {
  position: absolute !important;
  top: -250px;
}

#firebaseui-auth-container
  > div
  > div.firebaseui-card-content
  > form
  > ul
  > li:nth-child(2)
  > button:hover {
  background-color: #1c352c !important;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.logo {
  z-index: 5;
  position: absolute;
  left: 0;
  width: 35%;
}

.h4 {
  position: absolute;
  left: 0;
  font-family: "Rock Salt", cursive;
  font-size: 20px;
}

#sign-inForm h3 {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 10px;
}

#title {
  font-family: "Encode Sans SC", sans-serif;
}

.left {
  width: 40%;
  height: 100vh !important;
  position: absolute;
  background-color: white;
}

.blurb {
  margin: 62px auto auto auto;
  width: 540px;
  position: relative;
  top: 70px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 40%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.411); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay-black {
  position: fixed; /* Sit on top of the page content */
  width: 60%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  text-align: center;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#firebaseui-auth-container {
  top: 70px;
  position: relative;
}

#logo-alone {
  max-width: 50%;
  position: relative;
  top: 0px;
}

#divide {
  right: 70px;
  position: absolute;
}

.subtitle {
  position: absolute;
  right: 80px;
  top: 40%;
  display: none;
  font-size: 32px;
  font-family: "Baloo Chettan 2", cursive;
}

.firebaseui-idp-google > .firebaseui-idp-text {
  color: white !important;
}

#divide {
  position: absolute;
  right: 20px;
  display: none;

  top: 50%;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 400;
}

/* Media Queries */

/* styles */

/* @media screen and (min-width: 400px) and (max-width: 839px) {
  .firebaseui-idp-list {
    width: 300px;
    position: absolute;
    top: 315px !important;
  }
} */

@media screen and (min-width: 100px) and (max-width: 812px) {
  #mobile-logo {
    display: block;
    /* width: 50%; */
    width: 70px;
    margin: auto;
    margin-top: 50px;
    z-index: 2000 !important;
    position: relative;
  }

  #blurbBox {
    width: 100vw;
  }

  .blurb {
    margin: auto;
    width: 450px;
    position: relative;
    top: 70px;
    left: 10px;
  }

  #overlay {
    position: fixed !important;
    z-index: 100 !important;
    width: 100vw;
    height: 10vh;
    padding: 5px;
    bottom: 0;
    background-color: transparent !important;
  }

  #title {
    display: none;
  }

  #blurbBox {
    width: 100vw;
    text-align: center;
  }

  #overlay-black {
    text-align: center;
    width: auto;
  }

  .firebaseui-idp-list {
    width: 300px;
    position: relative;
    /* bottom: -440px; */
    margin-top: 559px;
  }
  #indexBody {
    background-image: none !important;
    background-size: none !important;
    background-position: none;
    background-repeat: none;
    background-color: black;
  }

  #firebaseui-auth-container
    > div
    > div.firebaseui-card-content
    > form
    > ul
    > li:nth-child(2)
    > button:hover {
    background-color: gray !important;
    color: gray;
  }

  li.firebaseui-list-item:nth-child(2) {
  }

  #sign-inForm {
    padding: 0px;
    background: transparent;
    box-shadow: none;
    height: 100px;
  }
}
