@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "IBM Plex Mono", monospace !important;
}

.btn,
.btn-large,
.btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #399e3c9a;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  text-transform: lowercase !important;
  font-size: 12px !important;
}

#comingSoon {
  color: white;
  display: none;
  margin: auto;
  width: 100%;
  text-align: center;
}

#overlay1 {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.692); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
}

#container {
  width: 97vw;
  margin: auto;
  z-index: 100;
  /*   box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%); */
}

th {
  text-decoration: underline;
  text-decoration-color: #399e3c56;
  text-decoration-thickness: 4px;
  font-size: 24px;
}

#table1 {
  text-align: center;
}

#RoomBody {
  background-color: #399e3c56;
  background-size: cover;
  display: grid;
  background-image: url("/logos/green3.jpg");
  background-repeat: no-repeat;
  font-family: "KoHo", sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  z-index: 10 !important;
}

#roomNav {
  background-color: transparent;

  color: black;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive !important;
  z-index: 10 !important;
  font-size: 20px;
  width: 100vw;
  height: 53px;
  justify-content: space-between;
  margin: auto;
  display: flex;
}

#testpic {
  z-index: 100;
}

#nav-links {
  top: 0px;
  font-size: 19px;
  margin-top: -2px;
  left: 67%;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 900;
  cursor: pointer;
  display: none;
}

#letterSubmit {
  background-color: #000000f5;
  border: 3px solid white !important;
  color: white;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* bottom: -95px; */
  border-radius: 3px;
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}
#letterSubmit:hover {
  color: black !important;
  background-color: white;
  border: 1px solid black;
}

.rooms-link {
  text-decoration: underline;
  text-decoration-color: #399e3c9a !important;
  text-decoration-thickness: 5px;
}

.nav-link {
  margin-right: 15px;
}

#overlay3 {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.btn,
.btn-large,
.btn-small {
  background-color: #399e3c9a !important;
}
#user-info {
  /* background-color: lightpink; */
  border: 2px solid #399e3c9a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 20;
  width: 200px;
  border-radius: 5px;
  height: 51px;
  padding: 5px;
  top: 1px;
  right: 1px;
  position: relative;
  color: black;
  /* clip-path: ellipse(130px 140px at 10% 20%); */
}

#photoContainer {
  position: absolute;
  background-color: #399e3c9a;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  height: 47px;
}

.photoURL {
  height: 40px;
  position: relative;
  width: 40px;
  right: 5px;
}

#userStatus {
  position: absolute;
  right: 2px;
  height: 41px;
  text-align: center;
  bottom: 2px;
  width: 140px;
}

#user {
  height: 10px;
  position: relative;
  bottom: 16px;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
}
#status {
  font-size: 8px;
  font-family: "IBM Plex Mono", monospace;

  position: relative;
  bottom: 10px;
}

#select {
  margin: auto;
  width: 100vw;
  text-align: center;
}

#blurb {
}

.photoURL {
  top: 12px;
  margin-left: 12px;
  position: relative;
  clip-path: circle(40%);
}

.switch {
  position: relative;
  left: 22px;
}
.switch label {
  font-size: 15px;
  color: white;
  z-index: 2;
}

.solo {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #399e3c9a;
}

.switch label input[type="checkbox"] {
  background-color: #399e3c9a;
}

.lever {
  background-color: #000000 !important;
}

.collaborative {
  color: #399e3c9a !important;
  font-size: 8px;
  font-weight: 500;
}
#user-list {
  border: 1px solid #399e3c9a;
  border-radius: 3px;
  max-height: 80vh;
  padding: 5px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 10px;
}

#user-list li {
  line-height: 1;
}

#friend-title {
  width: 125px;
  text-align: center;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  height: 33px;
  display: flex;
  border: 1px solid #399e3c9a;
}

.friendlistlogo {
  height: 31px;
  position: relative;
  background-color: #399e3c9a;
}

.redBtn {
  width: 10px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.greenBtn {
  width: 10px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.yellowBtn {
  width: 10px !important;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}

.modal {
  z-index: 4 !important;
}

#notification {
  font-size: 24px;
}

#status {
  font-size: 8px;
}

#alphabetInput {
  font-size: 400px;
  height: 70vh;
  text-align: center;
}

#inputContainer {
  font-size: 400px;
  height: 65vh;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#alphabetInput::placeholder {
  font-size: 88px;
  position: relative;
  bottom: 126px;
}
#myModal {
  z-index: 4 !important;
}

#mock-window {
  background-color: rgb(155, 155, 155);
  z-index: 500 !important;
  position: fixed;
  width: 500px;
}

#fast-facts {
  width: 75vw;
  margin: auto;
  font-family: "Montserrat", sans-serif !important;
  background-color: rgb(240, 240, 240);
  /* margin-top: 20px; */
  text-align: center;
  /* position: absolute; */
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 80vh;
  /* left: 15px; */
  top: 29px;
  /* outline: solid 20px rgb(155, 155, 155); */
  display: none;
  z-index: 2;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  position: relative;
  padding: 10px;
}

#user-list {
  overflow-y: auto;
  display: none;

  right: 0;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
}

#overlay4 {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.692); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#waiting {
  display: none;
  font-family: "Bebas Neue", cursive;
}

#col {
  display: flex;
}

#createNewRoom {
  right: 12px;
  top: 61px;
  background-color: white !important;
  border: 3px solid #399e3ca9 !important;
  color: black;
  border-radius: 5px;
  width: 200px !important;
  line-height: 2.6;
  position: absolute;
}

#single {
  right: 12px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  background-color: white !important;
  border: 3px solid #399e3ca9 !important;
  color: black;
  border-radius: 5px;
  width: 200px !important;
  height: 20px;
  font-size: 12px;
}

#createNewRoom:hover {
  background-color: #399e3ca9 !important;
  color: white;
  border: #93ff97e8 3px solid;
}

#create-room {
  display: none;
}

#solobtn {
  display: none;
}

.creater {
  border-radius: 5px !important;
  background-color: white !important;
  position: relative;
  color: black !important;
  bottom: 3px;
}
.creater:hover {
  color: white;
}

.creater-container {
  border: 3px solid #399e3ca9 !important;

  background-color: white !important;
}

.creater-container:hover {
  color: white;
  border: #93ff97e8 3px solid;
}

.photoURL {
  height: 40px;
  width: 40px;
}

/* END room page */
/* Game 1 */
.play-1 {
  display: flex;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.join {
  background-color: transparent;
  background-color: #c6f266;
  width: 100px;
  height: 33px;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: "KoHo", sans-serif !important;
  margin: auto !important;
}

.create {
  background-color: transparent;
  background-color: #c6f266;
  width: 100px;
  height: 33px;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-family: "KoHo", sans-serif !important;
  margin: auto !important;
}

.button-container {
  width: 100vw;
  text-align: center;
  margin-top: 200px;
}

.classsize {
  width: 300px;
  border: 1px solid white;
  background-color: white;
  font-size: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#rooms {
  width: 50vw;
  text-align: center;
  margin: auto;
}

.liveRoom h1 {
  font-size: 32px;
  margin-bottom: 10px;

  text-decoration: underline;
  font-size: 2.92rem;
  text-decoration-color: #399e3c9a !important;
}

.liveRoom h2 {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

#friendsOnline {
  font-size: 10px;
}

#friendsOnline h5 {
  font-size: 10px;
  margin-left: 3px;
  bottom: 10px;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
}

#active-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

#active-container h1 {
  font-size: 24px;
}

#group {
  font-size: 16px;
}

#members {
  font-size: 16px;
}

.liveRoom {
  top: -1px;
  overflow-y: scroll;
  left: 0;
  z-index: 10;
  padding-top: 1px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  overflow-y: scroll;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
  width: 100%;
  bottom: 57px;
  max-height: 82vh;
  color: black;
  margin: auto;
  background-color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.room-info {
  display: flex;
  justify-content: space-around;
}

.user-box {
  background-color: rgb(240, 240, 240);
  text-align: left;
  font-family: "Bebas Neue", cursive;

  position: absolute;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-height: 90vh;
  top: 100px;
  right: 20px;
  /*   bottom: 40px;
   */ /*   outline: solid 20px rgb(155, 155, 155);
   */
  display: none;
  z-index: 50;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  padding: 10px;
}

.connected {
  font-size: 9px;
  color: #399e3c9a;
}

#connectedMockPic {
}
.active-button {
  width: 10px;
  bottom: -2px;
  height: 10px;
  position: relative;
  left: 5px;
}

.logo-white {
  display: none;
}

.profile-holder {
  margin-bottom: 10px;
  position: relative;
}

.profilepic {
  top: 8px;
  width: auto;
  margin-right: 8px;
  height: 26px;
  position: relative;
}

#waiting {
  font-size: 32px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

#warningBox2 {
  display: none;
}

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.gitHub {
  width: 10px;
  height: 10px;
}

#logoBox {
  position: fixed;
  left: 0px;
  display: grid;

  bottom: 0;
  right: 0;
  width: 200px;
}

.footer-link {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 3px;

  color: rgba(0, 0, 0, 0.616);
  font-size: 10px;
  background-color: white;
}

/* Media Queries */
@media screen and (min-width: 100px) and (max-width: 812px) {
  #RoomBody {
    background-repeat: repeat;
  }

  #nav-links {
    display: none;
  }

  #user-info {
    width: 161px;
  }

  .liveRoom {
    height: fit-content;
    overflow-y: scroll;
  }

  #papers {
    right: 0;
  }

  #inputForm {
    right: 5px;
    width: 150px;
    display: block;
    padding: 10px;
  }

  .input-cell {
    width: 100%;
    font-size: 10px;
  }

  .input-cell::placeholder {
    font-size: 8px;
  }

  #input-list {
    width: 100%;
  }

  #word-list-container {
    left: 3%;
  }

  .photoURL {
    height: 20px;
    width: 20px;
    top: 3px;
  }

  #solobtn {
    display: block;
    background-color: #399e3ca9 !important;
    border: 3px solid #fff7f7 !important;
    color: black;
    border-radius: 5px;
    width: 110px !important;
    line-height: 2.6;
    cursor: pointer;
  }
  #fast-facts {
    width: 60vw;
    font-family: "Montserrat", sans-serif !important;
    background-color: rgb(240, 240, 240);
    /* margin-top: 20px; */
    text-align: center;
    /* position: absolute; */
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* max-height: 90vh; */
    /* left: 15px; */
    top: 17px;
    /* outline: solid 20px rgb(155, 155, 155); */
    display: none;
    z-index: 2;
    box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
      4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
    padding: 10px;
    margin: auto;
  }

  #createNewRoom {
    width: 150px !important;
    right: 3px;
  }

  #logoBox {
    width: 200px;
    position: absolute;
    left: 0;
    z-index: 200;
  }

  .gitHub {
    height: 10px;
    width: 10px;
  }

  .footer-link {
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
  }

  #friend-title {
    width: 47px;
    text-align: center;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: auto;
  }

  #friendsOnline {
    display: flex;
    font-size: 10px;
    font-family: "Montserrat", sans-serif !important;
    bottom: 20px;
    position: relative;
    text-align: center;
    left: 6px;
  }

  #friendsOnline h5 {
    font-size: 10px;
    display: none;
    font-family: "Montserrat", sans-serif !important;
  }

  .friendlistLogo {
    width: 0px;
    height: 0px;
  }

  #friend-title h4 {
    font-size: 12px;
  }

  .profile-holder {
    font-size: 9px;
  }

  .profilepic {
    top: 0px;
    width: 15px;
    height: 15px;
  }

  #play-box {
    width: 80vw;
    margin: auto;
    left: 0;
  }

  #rooms h5 {
    font-size: 12px;
  }

  .active-button {
    height: 10px;
    width: 10px;
    left: 0px;
  }

  #instructions {
    left: 0px;
    width: 90%;
    margin: auto;
  }

  #word-list li {
    font-size: 10px;
  }

  .connected {
    bottom: 0px;
    left: 0px;
  }
  #user {
    font-size: 14px;
  }
  #alphabetInput::placeholder {
    font-size: 44px;
    position: relative;
    bottom: 126px;
  }
  #myModal {
    z-index: 200 !important;
  }

  .user-box {
    width: 100px !important;
    top: 150px;
    display: none;
  }

  #mainLogo {
    width: unset;

    height: 100%;
    background-size: contain;
  }

  #userStatus {
    position: absolute;
    right: -6px;
    height: 41px;
    text-align: center;
    bottom: 2px;
    width: 140px;
  }
}

/* @media screen and (min-width: 900px){


#mainLogo{
  max-height: 6vh;
}

} */

/* SOLO */
/* user-info */
#solo-info {
  border: 2px solid #399e3c9a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 20;
  width: 200px;
  border-radius: 5px;
  height: 51px;
  padding: 5px;
  top: 1px;
  right: 1px;
  position: relative;
  color: black;
}

#icon-container {
  position: absolute;
  background-color: #399e3c9a;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  height: 47px;
  width: 40px;
}
/* photoContainer */
#soloContainer {
  border: 1px solid red;
}
/* photourl */
#solo-icon {
  display: inline;
}

#solo-word {
  position: absolute;
  right: 2px;
  height: 41px;
  text-align: center;
  bottom: 2px;
  width: 140px;
}

/* LOGO CONTAINER */
#logo-container {
  width: 100vw;
  align-items: center;
  /* margin: auto; */
  background-color: black;
  display: flex;
  margin: auto;
  height: 60px;
  justify-content: center;
}

#mainLogo {
  width: 400px;
}

/* collab */
#collab-info {
  border: 2px solid #399e3c9a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 20;
  width: 200px;
  border-radius: 5px;
  height: 51px;
  padding: 5px;
  top: 1px;
  right: 1px;
  position: relative;
  color: black;
}

#collab-icon-container {
  position: absolute;
  background-color: #399e3c9a;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  height: 47px;
  width: 40px;
}
/* photoContainer */
#soloContainer {
  border: 1px solid red;
}
/* photourl */
#collab-icon {
  display: inline;
}

#collab-word {
  position: absolute;
  right: 2px;
  height: 41px;
  text-align: center;
  bottom: 2px;
  width: 140px;
}

#switch-container {
  border: 1px solid #c8bdbd80;
  list-style-type: none;
  border-radius: 5px;
  height: 42px;
  display: flex;
  width: 397px;
  align-items: center;
  position: relative;
  top: 8px;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #399e3c !important;
}

#notification {
  font-size: 24px;
}
